    <div class="row bg-light mx-0">
        <div id="CambioImagen" class="col-12 p-0 img_super0">
            <div class="row justify-content-center mt-5 mx-0">
                <div class="col-12 my-4 ">

                    <div class="row mt-5 mx-0 ">
                        <div class="col-2"></div>
                        <div class="col-md-5 col-12 text-md-start text-center fs-3 text-light">Te ofrecemos lo mejor en
                            tecnologia</div>


                    </div>
                    <div class="row my-4 mx-0 ">
                        <div class="col-2"></div>
                        <div class="col-12 col-md-5 text-center text-md-start fs-6 ms-1  text-light">Solo hoy un 20% de
                            descuento</div>


                    </div>
                    <div class="row justify-content-center justify-content-md-start mx-0">
                        <div class="col-md-2 col-0">
                        </div>
                        <div class="col-lg-3 col-md-4 col-10">
                            <div class="input-group elementSearch">

                                <input class="form-control border rounded-start" type="search" list="searchPc"
                                    id="search" name="searching">
                                <datalist id="searchPc">

                                </datalist>

                                <button class="btn bg-white rounded-end" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row my-5 mx-0"></div>
            <div class="row justify-content-center banner-text mx-0">
                <div class="col-8 my-3 bg-transparent">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="row text-center justify-content-center">
                                <div class="col-12 "><i class="fa-regular fa-lightbulb fs-1"></i></div>
                                <div class="col-12 mt-2"><span>Más de 1000 equipos disponibles</span><br><span>Descubre
                                        el
                                        tuyo</span></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="row mt-4 mt-md-0 text-center justify-content-center ">
                                <div class="col-12 mx-0  "><i class="fa-solid fa-question fs-1"></i></div>
                                <div class="col-12  mt-2 "><span>¿No sabes que elegir?</span><br><span>Nosotros te
                                        ayudamos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="row mt-4 mt-md-0 text-center justify-content-center">
                                <div class="col-12"><i class="fa-solid fa-clock fs-1"></i></div>
                                <div class="col-12 mt-2"><span>¿Sin tiempo en tu agenda?</span><br><span>Disponibles las
                                        24
                                        horas</span></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>


    </div>


    <!-- Productos -->
    <div class="row text-center mt-5 mx-0">
        <div class=" col-12 fs-2 fw-semibold">Lista de equipos</div>
    </div>

    <div class="row justify-content-center my-4 mx-0">
        <div class="col-10 justify-content-center d-flex">
            <div id="target" class="row justify-content-center">

            </div>
        </div>
    </div>





    <!-- msg emergente para mensajes de error o de resultados -->
    <div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="notify" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000" data-bs-animation="true">
          <div class="toast-header">
            <img src="/img/logoNotify.png" class="rounded me-2 img-fluid" alt="..." width="30px" height="30px" >
            <strong id="titleNotify" class="me-auto">title</strong>
            <small>Hace 1 segundo</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div id="bodyNotify" class="toast-body">
           bodytext
          </div>
        </div>
      </div>



