<div class="row bg-light mx-0">
    <div id="CambioImagen" class="col-12 p-0 img_super0">
        <div class="row justify-content-center mt-5 mx-0">
            <div class="col-12 my-4 ">

                <div class="row mt-5 mx-0 ">
                    <div class="col-2"></div>
                    <div class="col-md-5 col-12 text-md-start text-center fs-3 text-light">Te ofrecemos lo mejor en
                        tecnologia</div>


                </div>
                <div class="row my-4 mx-0 ">
                    <div class="col-2"></div>
                    <div class="col-12 col-md-5 text-center text-md-start fs-6 ms-1  text-light">Solo hoy un 20% de
                        descuento</div>


                </div>
                <div class="row justify-content-center justify-content-md-start mx-0">
                    <div class="col-md-2 col-0">
                    </div>
                    <div class="col-lg-3 col-md-4 col-10">
                        <div class="input-group elementSearch">

                            <input class="form-control border rounded-start" type="search" list="searchPc" id="search"
                                name="searching">
                            <datalist id="searchPc">

                            </datalist>

                            <button class="btn bg-white rounded-end" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-5 mx-0"></div>
        <div class="row justify-content-center banner-text mx-0">
            <div class="col-8 my-3 bg-transparent">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="row text-center justify-content-center">
                            <div class="col-12 "><i class="fa-regular fa-lightbulb fs-1"></i></div>
                            <div class="col-12 mt-2"><span>Más de 1000 equipos disponibles</span><br><span>Descubre
                                    el
                                    tuyo</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row mt-4 mt-md-0 text-center justify-content-center ">
                            <div class="col-12 mx-0  "><i class="fa-solid fa-question fs-1"></i></div>
                            <div class="col-12  mt-2 "><span>¿No sabes que elegir?</span><br><span>Nosotros te
                                    ayudamos</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row mt-4 mt-md-0 text-center justify-content-center">
                            <div class="col-12"><i class="fa-solid fa-clock fs-1"></i></div>
                            <div class="col-12 mt-2"><span>¿Sin tiempo en tu agenda?</span><br><span>Disponibles las
                                    24
                                    horas</span></div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>


</div>


<!-- Productos -->
<div class="row text-center mt-5 mx-0">
    <div class=" col-12 fs-2 fw-semibold">Lista de equipos</div>
</div>

<div class="row justify-content-center mt-1 pb-5 mb-3 mx-0">
    <div class="col-10 justify-content-center d-flex">
        <div id="target" class="row justify-content-center">

        </div>
    </div>
</div>



<!-- msg emergente para mensajes de error o de resultados -->

<div class="toast-container position-fixed bottom-0 start-0 p-3 p-2" id="notify">


</div>



<style>
    /*Banner animado */
    .img_super0 {
        background-image: url(../img/super.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--blackColor);
        background-size: cover;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
    }

    .img_super1 {
        background-image: url(../img/super2.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--blackColor);
        background-size: cover;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
    }

    .img_super2 {
        background-image: url(../img/super3.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--blackColor);
        background-size: cover;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
    }

    .img_super3 {
        background-image: url(../img/super4.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--blackColor);
        background-size: cover;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
    }

    .img_super4 {
        background-image: url(../img/super5.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--blackColor);
        background-size: cover;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
    }



    #search:focus {
        border: none !important;
        box-shadow: none !important;
    }

    /*Cuando el foco este en #search aparezaca una sombra en .elementSearch */
    .elementSearch:hover {
        box-shadow: 0 0 10px var(--redColor) !important;
    }

    .banner-text{

    background: var(--redColor);
    background: linear-gradient(0deg, rgba(200, 32, 29, 0.349) 0%, rgba(59, 7, 7, 0.546) 100%);
    color: white;

}




/*boton para comprar el producto mostrado*/
.btn-buy{
    background: var(--redColor);
    background: linear-gradient(0deg, --redColor 0%, rgb(125, 13, 13) 100%);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 9px #666666;
    text-shadow: 2px 2px 7px #666666;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border: none;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.btn-buy:hover{
    background: rgb(163, 0, 0);
    transition: 0.5s;
    cursor: pointer;
    color: white;
    transform: scale(1.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}





.animarTarget:hover{
    transform: scale(1.015);
    transition: 0.25s;
    -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -o-transform: scale(1.015);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}



#imagePc:hover{
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}






</style>




<script type="text/javascript">
    //variable global for control the number of background of banner animated
    let numImage = 0;


    //funcion para cambiar el background de un elemento haciendo una animacion 
    function cambiarBackground() {
        let box = document.getElementById("CambioImagen");
        box.style.opacity = 0;
        box.classList.remove(`img_super${numImage}`);
        if (numImage > 3) {

            numImage = -1;
        }
        box.classList.add(`img_super${numImage + 1}`);
        box.style.opacity = 1;
        numImage++;

    }



    setInterval(cambiarBackground, 5000);

</script>