
        <footer class="bg-dark fs5 p-2  text-center" style="color:grey;">
            <div class="row mx-0 justify-content-center mt-2">
                <div class="col-5 col-md-3 fs-3">
                    <div class="row mx-0 ">
                    <!-- Redes sociales facebook,instagram,twiter,correo -->
                    <div class="col-3 justify-content-center d-flex">
                        <a href="#"class="redSocial">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="col-3 justify-content-center d-flex">
                        <a href="#" class="redSocial">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-3 justify-content-center d-flex">
                        <a href="#" class="redSocial">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div class="col-3 justify-content-center d-flex">
                        <a href="mailto:#" class="redSocial">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>
                </div>

                </div>
            </div>
            <div class="row mx-0 mt-3">
                <div class="col-12">
                    <img class="img-fluid " alt="payment" src="/img/payment.png">
                </div>
            </div>
            <div class="row mx-0 my-4 fs-6">
                <div class="col-12">
                    Copyright © Anon All Rights Reserved.
                </div>
            </div>
        </footer>
