<div class="img-home row bg-dark mx-0 my-0 min-vh-100 justify-content-center align-items-center">
    <div class="col-10 homePanel bg-dark bg-opacity-50 py-4 rounded-3">
        <div class="row justify-content-center pb-5">
            <div class="col-12">
                <h1 class="text-center titleHome pt-3">PAGINA PRINCIPAL</h1>
            </div>
            <div class="px-4 col-10 col-lg-4 col-md-6 col-xxl-3 mt-5 pt-3 justify-content-center d-flex">
                <a href="/users/signup" class="text-decoration-none text-dark">
                    <div class="card targetHome" style="width: 18rem;">
                        {{!-- colocar un icono de la libreria de fontawesome y centrarlo --}}
                        <i class="z-1 fas fa-user-circle fa-5x d-flex justify-content-center my-3"></i>
                        <div class="z-1 card-body">
                            <h5 class="card-title text-center">Registrar usuario</h5>
                            <p class="card-text text-center">Registra un nuevo usuario para que acceda al sistema</p>

                        </div>
                    </div>
                </a>

            </div>


            <div class="col-10 col-lg-4 col-md-6 col-xxl-3 mt-5 pt-3 justify-content-center d-flex">
                <a href="/users/signup" class="text-decoration-none text-dark">
                    <div class="card targetHome" style="width: 18rem;">
                        {{!-- colocar un icono de la libreria de fontawesome y centrarlo --}}
                        <i class="z-1 fa fa-user-pen fa-5x d-flex justify-content-center text-center my-3 ps-4"></i>
                        <div class="z-1 card-body">
                            <h5 class="card-title text-center">Editar usuario</h5>
                            <p class="card-text text-center">Edita usuarios que tienen acceso al sistema</p>

                        </div>
                    </div>
                </a>

            </div>



            <div class="col-10 col-lg-4 col-md-6 col-xxl-3 mt-5 pt-3 justify-content-center d-flex">
                <a href="/users/upload" class="text-decoration-none text-dark">
                    <div class="z-1 card targetHome" style="width: 18rem;">
                        {{!-- colocar un icono de la libreria de fontawesome y centrarlo --}}
                        <i class="z-1 fa fa-laptop-medical fa-5x d-flex justify-content-center text-center my-3"></i>
                        <div class="z-1 card-body">
                            <h5 class="card-title text-center">Registrar equipo</h5>
                            <p class="card-text text-center">Edita usuarios que tienen acceso al sistema</p>

                        </div>
                    </div>
                </a>

            </div>


            <div class="col-10 col-lg-4 col-md-6 col-xxl-3 mt-5 pt-3 justify-content-center d-flex">
                <a href="/users/signup" class="text-decoration-none text-dark ">
                    <div class="card targetHome" style="width: 18rem;">
                        {{!-- colocar un icono de la libreria de fontawesome y centrarlo --}}
                        <i class="z-1 fa fa-file-pen fa-5x d-flex justify-content-center text-center my-3 ps-4"></i>
                        <div class=" z-1 card-body">
                            <h5 class="card-title text-center">Editar equipo</h5>
                            <p class="card-text text-center">Edita los equipos registrados en el sistema</p>

                        </div>
                    </div>
                </a>

            </div>







        </div>

    </div>
</div>



<style>
    .img-home {
        background-image: url('../img/super6.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        background-color: var(--blackColor);
    }

    .homePanel {
        box-shadow: 0 0 6px 0px inset rgb(255, 255, 255);

    }

    .titleHome {
        font-size: 2em;
        font-weight: 600;
        color: var(--redColor);
        text-shadow: 5px 1px rgb(0, 0, 0);
        animation: colorTextHome 1s infinite alternate;
        -webkit-animation: colorTextHome 1s infinite alternate;
    }

    @keyframes colorTextHome {
        0% {
            color: var(--redColor);
        }

        100% {
            color: rgba(175, 2, 2, 0.651);
        }
    }

    .homePanel .card {
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.144);

    }



    .targetHome {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.055);
        overflow: hidden;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.288);
    }

    .targetHome::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 160%;
        background: linear-gradient(rgb(102, 146, 209), var(--redColor));
        animation: girarHome 8s linear infinite alternate;
        -webkit-animation: girarHome 8s linear infinite alternate;
    }

    .targetHome::after {
        content: '';
        position: absolute;
        inset: 3px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    @keyframes girarHome {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }
</style>