
    <div class="img-background-upload min-vh-100 row mx-0 my-0 py-3 justify-content-center align-items-center">
        <div class="col-12 px-0 col-lg-10 col-xl-11 col-sm-11 col-md-11 mx-auto">
            <div class="card bg-dark">
                    <div class="col-12 text-light fw-bold pt-3 text-center fs-3">
                            REGISTRAR NUEVO EQUIPO
                    </div>
                <div class="card-body mx-3 px-4 mx-sm-4 mx-md-5 ">
                    <form action="/upload" method="POST" onsubmit="return submitSign('form-Upload')" id="form-Upload">
    
                
                        <div class="row justify-content-start">
                            <div class="col-12">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Información basica</span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="namePc" id="namePc" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Nombre</span>
                                    <p id="namePcText" class="d-none">Ingrese el nombre del equipo</p>
                                    <i></i>
                                </div>
                            </div>
    
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="marca" id="marca" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Marca</span>
                                    <p id="marcaText" class="d-none">Ingrese la marca del equipo</p>
                                    <i></i>
                                </div>
                            </div>
    
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="modelo" id="modelo" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Modelo</span>
                                    <p id="modeloText" class="d-none">Ingrese el modelo del equipo</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="system" id="system" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Sistema operativo</span>
                                    <p id="systemText" class="d-none">Ingrese el sistema operativo del equipo</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                            
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span>Unidad cd/dvd o integrada</span>
 
                                    <select class="form-select p-1 ps-2 bg-dark text-light" name="CD/DVD" id="CD/DVD">
                                        <option value="0" selected>NO</option>
                                        <option value="1">SI</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="teclado" id="teclado" class="form-control" placeholder="" oninvalid="return false" required>
                                    <span>Caracteristicas del teclado</span>
                                    <p id="tecladoText" class="d-none">Ingrese al menos una caracteristica del teclado</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="peso" id="peso" class="inputNumberUpload form-control" placeholder="" oninvalid="return false" required>
                                    <span>Peso (kg)</span>
                                    <p id="pesoText" class="d-none">Ingrese el peso del equipo</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="color" id="color" class="form-control" placeholder="" oninvalid="return false" required>
                                    <span>Color o colores</span>
                                    <p id="colorText" class="d-none">Ingrese al menos un color</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="fuente" id="fuente" class="form-control" placeholder="" oninvalid="return false" required>
                                    <span>Fuentes de alimentacion</span>
                                    <p id="fuenteText" class="d-none">Ingrese al menos una fuente de alimentación</p>
                                    <i></i>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onfocus="validateInputsMoney(this.value,this.id,true)" onblur="validateInputsMoney(this.value,this.id,false)" type="text" name="precio" id="precio" class="inputNumberUpload form-control" placeholder="" oninvalid="return false" required>
                                    <span>Precio</span>
                                    <p id="precioText" class="d-none">Ingrese el precio del equipo</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="password" name="stock" id="stock" class="inputNumberUpload form-control" placeholder="" oninvalid="return false" required>
                                    <span>stock</span>
                                    <p id="stockText" class="d-none">Ingrese el stock del equipo</p>
                                    <i></i>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="bateria" id="bateria" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Duración de la bateria</span>
                                    <p id="bateriaText" class="d-none">Ingrese la duracion la bateria</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="Dimension" id="Dimension" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Dimensiones</span>
                                    <p id="DimensionText" class="d-none">Ingrese las dimensiones del equipo</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Procesador</span>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="procesador" id="procesador" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Nombre procesador</span>
                                    <p id="procesadorText" class="d-none">Ingrese el nombre del procesador</p>
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="velocidadProc" id="velocidadProc" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Velocidad en GHZ</span>
                                    <p id="velocidadProcText" class="d-none">Ingrese la velocidad del procesador</p>
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="nucleos" id="nucleos" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>nucleos</span>
                                    <p id="nucleosText" class="d-none">Ingrese los nucleos del procesador</p>
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="hilos" id="hilos" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>hilos</span>
                                    <p id="hilosText" class="d-none">Ingrese los hilos del procesador</p>
                                    <i></i>
                                </div>
                            </div>


                            
                            <div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Memoria ram</span>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="sizeRam" id="sizeRam" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Cantidad en GB</span>
                                    <p id="sizeRamText" class="d-none">Ingrese el tamaño de la ram</p>
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="velocidadRAM" id="velocidadRAM" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Velocidad en MHZ</span>
                                    <p id="velocidadRAMText" class="d-none">Ingrese la velocidad de la ram</p>
                                    <i></i>
                                </div>
                            </div>
                

                            
                            
                            <div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Almacenamiento</span>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="sizeDisk" id="sizeDisk" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Cantidad en GB</span>
                                    <p id="sizeDiskText" class="d-none">Ingrese la capacidad del disco o discos</p>
                                    <i></i>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span>Tipo</span>
 
                                    <select class="form-select p-1 ps-2 bg-dark text-light" style="font-size: 75%;" multiple size="2" name="tipeDisk" id="tipeDisk">
                                        <option value="0" selected>SSD</option>
                                        <option value="1">HDD</option>
                                        <option value="2">SDD M.2</option>
                                       
                                    </select>
                                </div>
                            </div>


                            <div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Targeta Grafica</span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span>Tipo</span>
 
                                    <select class="form-select p-1 ps-2 bg-dark text-light" name="tipeGra" id="tipeGra">
                                        <option value="0" selected>SIN TARGETA</option>
                                        <option value="1">INTEGRADA</option>
                                        <option value="1">DEDICADA</option>
                                    </select>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input  type="text" name="nameGra" id="nameGra" class="form-control " placeholder="" required oninvalid="return false">
                                    <span>Nombre</span>
                                    <p id="nameGraText" class="d-none">Ingrese el nombre de la grafica</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <div class="row">
                                        <div class="col-9 ">
                                            <input  type="text" name="sizeGra" id="sizeGra" class="inputNumberUpload form-control" placeholder="" required oninvalid="return false">
                                            <span>Capacidad de vram</span>
                                            <p id="sizeGraText" class="d-none">Ingrese la capacidad de la vram</p>
                                            <i></i>
                                        </div>
                                        <div class="col-3 p-0 m-0 pe-3">
                                            <select class="form-select p-1 m-0 me-3 bg-dark text-light ms-1" name="sizeVramGra" id="sizeVramGra">
                                                <option value="GB" selected>GB</option>
                                                <option value="MB">MB</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input  type="text" name="velocidadGra" id="velocidadGra" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Velocidad</span>
                                    <p id="velocidadGraText" class="d-none">Ingrese la velocidad de la targeta</p>
                                    <i></i>
                                </div>
                            </div>

                            
                            <div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Pantalla</span>
                                </div>
                            </div>
                            
                            
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="sizeDisplay" id="sizeDisplay" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Tamaño de la pantalla (pulgadas)</span>
                                    <p id="sizeDisplayText" class="d-none">Ingrese el tamaño de la pantalla</p>
                                    <i></i>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <div class="row justify-content-start">
                                        <div class="col-5">
                                            <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="reso1" id="reso1" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                            <span>Resolucion(fila)</span>
                                            <p id="reso1Text" class="d-none m-0 p-0">Dato faltante</p>
                                            <i></i>
                                        </div>
                                        <div class="col-1 fw-bolder m-0 p-0 text-light align-self-center justify-content-center d-flex">
                                            X
                                        </div>
                                        <div class="col-6">
                                            <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="reso2" id="reso2" class="inputNumberUpload form-control" placeholder="" required oninvalid="return false">
                                            <span>Resolucion(columna)</span>
                                            <p id="reso2Text" class="d-none m-0 p-0">Dato faltante</p>
                                            <i></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input onblur="validateInputsEmpty(this.value,this.id)" type="text" name="refresh" id="refresh" class="inputNumberUpload form-control " placeholder="" required oninvalid="return false">
                                    <span>Tasa de refresco(HZ)</span>
                                    <p id="refreshText" class="d-none">Ingrese la tasa de refreco de la pantalla</p>
                                    <i></i>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span>Tipo</span>

                                    <select class="form-select p-1 ps-2 bg-dark text-light" style="font-size: 75%;" multiple size="2" name="tipeDisplay" id="tipeDisplay">
                                        <option value="0" selected>LED</option>
                                        <option value="1">LCD</option>
                                        <option value="2">OLED</option>
                                        <option value="3">PLASMA</option>
                                    </select>
                                </div>
                            </div>
                            
                            
<div class="col-12 pt-5">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <span class="fw-bolder span-upload">Información adicional</span>
                                </div>
                            </div>
                            

                            

                            <div class="col-12 col-sm-6">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="form-group  mt-2 boxInput boxInputSignUp pt-4">
                                    <input type="text" name="" id="foto" class="form-control" placeholder="" hidden oninvalid="return false" required>
                                    <span class="">foto</span>
                                    <p id="input-fileText" class="d-none m-0 p-0">Cargue una foto</p>
                                </div>

                                <div class="drop-area mt-2 form-group" id="drop-area">
                                    <div class="elements row justify-content-center">
                                        <div class="col-11">
                                            <h4 class="text-light text-center" id="dragText">Arrastra y suelta la imagen</h4>
                                        
                                        </div>
                                        <div class="col-11 text-light text-center fs-2">
                                            o
                                        </div>
                                        
                                        <div class="col-10 justify-content-center d-flex">
                                            <button class="d-flex fs-6 fw-semibold" type="button" id="btnUploadImg">Selecciona tu imagen</button>
                                        </div>
                                        <input onchange="validateInputsEmpty(this.value,this.id)" onblur="validateInputsEmpty(this.value,this.id)" type="file" name="foto" id="input-file" accept=".png,.jpg,.jpeg" oninvalid="return false" hidden multiple />
                                        <div id="msgUpload" class="failure"></div>
                                
                                    </div>
                                    <div class="img" id="imgPc">
                                
                                
                                    </div>
                                
                                </div>
                                    </div>
                                </div>
                                
                            </div>

                            


                            <div class="col-12 col-sm-6 mt-2">
                                <div class="form-group mt-2 boxInput boxInputSignUp pt-3">
                                    <input type="text" name="" id="" hidden class="form-control " placeholder="" required oninvalid="return false">
                                    <span class="">Accesorios</span>
                                    <textarea class="rounded-2 w-100 p-2 mt-2" id="Accesorios"></textarea>
                                    
                                </div>
                            </div>
                            

                        </div>
                        
                        <div class="form-group mt-3 pt-4 justify-content-center d-flex">
                            <button type="submit" onclick="document.getElementById('form-Upload').onsubmit()" class="btn btn-signin w-50">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>